/node_modules
/public/hot
/public/storage
/storage/*.key
*/vendor
/open-iconic-master
/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


.DS_Store
._.DS_Store

# コンパイルするのでいらない。
public/css/app.css
public/js/app.js
public/js/app.js.map
public/js/app.js.LICENSE.txt

# phpMyAdminで自動生成されるのでいらない。
public/phpMyAdmin/tmp/twig/*