<div class='mx-4 my-4'>
  <h3>Đăng khoá học</h3>
  <form method='POST' action='/courses/store'>
    <div class='form-group'>
      <label for='exampleInputEmail1'>Tên</label>
      <input name='name' type='text' class='form-control' id='name' placeholder='Tên khoá học...' />
    </div>
    <div class='form-group'>
      <label for='exampleInputEmail1'>Mô tả</label>
      <input
        name='description'
        type='text'
        class='form-control'
        id='description'
        placeholder='Mô tả khoá học...'
      />
    </div>
    <div class='form-group'>
      <label for='exampleInputEmail1'>VideoId</label>
      <input
        name='videoId'
        type='text'
        class='form-control'
        id='videoId'
        placeholder='VideoId...'
      />
    </div>
    <div class='form-group'>
      <label for='exampleInputEmail1'>Level</label>
      <input name='level' type='text' class='form-control' id='level' placeholder="level...'" />
    </div>
    <button type='submit' class='btn btn-primary'>Thêm khoá học</button>
  </form>
</div>