<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>Education app</a>
    <ul class='navbar-nav'>
      <li class='nav-item dropdown'>
        <a
          class='nav-link dropdown-toggle'
          href='#'
          id='navbarDropdown'
          role='button'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'
        >
          <img
            class='user_avatar'
            src='https://hoctapit.com/wp-content/uploads/2018/01/nodejs-logo-e1497443346889.png'
            alt=''
          />
          User's name
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <a class='dropdown-item' href='/courses/create'>Đăng khoá học</a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='/me/stored/courses'>khoá học của tôi</a>
          <a class='dropdown-item' href='#'>Bài viết của tôi</a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='#'>Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>

</nav>